@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
  --body-background: linear-gradient(rgba(247, 180, 211, 0.267), rgba(255, 255, 255, 0.5)) no-repeat;
  --a-default: rgba(209, 96, 115,1);
  --a-hover: rgba(209, 96, 115,1);
}

body {
  margin: 0;
  background: var(--body-background)
}

a{
  color: var(--a-default)
}