.container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  gap:3rem;
}

.container :global(nav) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
}

.container :global(nav li) {
  list-style: none;
  font-size: 0.9rem;
}

.container :global(.logo) {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

.container :global(a) {
  text-decoration: none;
}